/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Color Variables */
:root {
  --color-orange: #faa907;
  --color-grey: #414142;
  --dim-grey: #696969;
  --charcoal-gray: #414142;
  --light-shade: #fdf8f8;
  --shade-gray: #8f8f8f;
  --lavender: #fff6f6;
  --blue: #0774FA;
  --lavender-mist: #f0eaff;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
}

body {
  background-color: var(--lavender);
}

html {
  scroll-behavior: smooth;
}

html::-ms-overflow-style {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

/* Section Styles */
#section-pilih-kelas .container-fluid .content-kelas {
  margin-top: 5rem;
}

/* Search Group */
.search-group input,
.search-group input:focus {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  width: 260px;
}

/* Card Styles */
.card {
  width: 25rem;
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  object-fit: fill;
  height: 250px;
}

/* Title Styles */
.title-card h5 {
  font-size: 17px;
  color: var(--color-grey);
}

.title-card p {
  /* Additional styles can be added here if needed */
}

.title-card img {
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

/* Text Truncation */
.truncate-text {
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 3em;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

.card:hover .truncate-text {
  -webkit-line-clamp: unset;
  max-height: none;
}

.truncate-text.expanded {
  white-space: normal;
  -webkit-line-clamp: unset;
  max-height: none;
}

/* Not Found Section */
.not-found {
  margin-top: 50px;
  justify-content: center;
}

.not-found img {
  max-width: 25%;
  height: auto;
}

.not-found p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #666;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.15rem;
  align-items: center; /* Pastikan semua item sejajar secara vertikal */
}

.page-item, .page-item-button {
  margin: 0 0.2rem;
}
.page-item-button .page-link span {
  font-size: 1.8rem;
  font-weight: bold;
}


.page-item.disabled .page-link,
.page-item-button.disabled .page-link {
  color: var(--blue);
  background-color: #eeeeee;
  pointer-events: none;
  cursor: not-allowed;
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.page-link, .page-item-button .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  background-color: #eeeeee;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
}

.page-link:hover, .page-item-button .page-link:hover {
  transform: translateY(-5px);
  color: #fff;
  background-color: var(--blue); 
  border-color: var(--blue);
  text-decoration: none;
}

.page-link span {
  display: inline-block;
  vertical-align: middle;
}

@keyframes loading {
  0% {
      opacity: 0.3;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0.3;
  }
}

/* Button Group for Prices */
.btn-group-harga .btn-primary {
  background-color: var(--color-orange);
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  font-weight: 600;
}

/* Price Styles */
.harga p:first-child {
  color: var(--color-grey);
}

/* Package Styles */
.paket {
  color: var(--color-orange);
  display: flex;
  font-size: small;
  font-weight: bolder;
}

.paket-item {
  border: 1px solid var(--color-orange);
  padding: 1px 5px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  #course-card {
    width: 100%;
    padding: 0 !important;
  }

  .ms-sm-2 {
    margin-left: 2.5rem !important;
  }
  .not-found img {
    max-width: 100% !important;
  }
}
/* Responsive Design */
@media (max-width: 568px) {
  .filter-head {
    font-size: 17px;
  }
    #course-card {
      padding: 0 15px;
  }

  .card .card-img-top {
    object-fit: cover;
    height: 80px;
    width: 110px;
    border-radius: 7px;
  }

  .card-body,
  .card-head {
    padding: 10px;
  }

  .card-body {
    position: relative;
  }

  .title-card h5 {
    font-size: 12px;
    margin-bottom: 2px;
    max-width: 200px;
  }

  .not-found img {
    max-width: 100% !important;
  }

  .title-card img {
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
  }

  .card .avatar {
    font-size: 11px;
    font-weight: 700;
    color: gray;
  }

  .btn-group-harga .btn-primary {
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .harga {
    font-size: 12px;
  }

  .paket {
    font-size: 9px;
  }
}

/* Search Bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 250px;
  border: none;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 25px 0 0 25px;
  outline: none;
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: white;
  text-align: center;
  color: var(--charcoal-gray);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 20px;
}
