:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 3px 0px #faa907;
    --transition-card: all 0.5s linear;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    min-height: 100vh;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
}
.btn-alert {
    background-color: var(--c-brand);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: var(--transition);
    cursor: pointer;
    max-width: 150px;
}
.bi:hover {
    color: var(--c-brand);
}
.bi:active {
    color: var(--c-brand);
}
.bi {
    color: var(--c-dark);
    transition: var(--transition);
    cursor: pointer;
    border-radius: 50%;
}
.text-decoratiom-none {
    text-decoration: none !important;
    margin: 0;
}
.text {
    height: auto;
}

/* alert */
.disini {
    border: 1px solid var(--c-dark);
    margin-top: 20px;
    border-radius: 100px;
}
.alert {
    width: 95%;
    margin-left: 30px;
    height: auto;
    box-shadow: inset;
}
.alert-notify {
    width: 100%;
}

/* end alert */

/* sidebar */
.form-check-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.form-check-input:checked,
.form-check-input:active {
    box-shadow: none;
    background-color: #fff;
}
.form-check {
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    padding-right: 10px;
    max-width: 100%;
}
.form-check-input:checked + label:after {
    background-color: #faa907;
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 42%;
    left: 5.3px;
    transform: translateY(-50%);
    border-radius: 50%;
}
.form-check-label {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}
.dropdown-menu.show {
    overflow-y: scroll;
    max-height: 465px;
    width: 50% !important;
    margin: 15px 0 0 1px !important;
}
.dropdown-menu.show::-webkit-scrollbar {
    display: none;
}
.card-category {
    color: white;
}
.dropdown-toggle {
    margin-left: 8px;
    background-color: #faa907 !important;
    transition: 0.3s all;
}
.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: #ff7700 !important;
}
/* end sidebar */

/* course */
#course-container {
    height: 600px !important;
    overflow-y: scroll;
}
#course-container::-webkit-scrollbar {
    display: none;
}
.card-parent:nth-child(n + 4) {
    margin-top: 16px;
}
.container-card {
    max-width: 100%;
}
.card-course {
    border: none;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.345);
    transition: box-shadow 0.5s linear;
}
.card-course:hover {
    box-shadow: 0px 0px 5px 0px var(--c-brand);
}
.img-card {
    width: 100%;
    height: 150px;
    padding: 7px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.scroll {
    overflow-y: auto;
    height: 740px !important;
}
.card-img-profile {
    width: 33px;
    height: 33px;
}
.produck-title {
    height: 37px;
    font-size: 14.5px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    line-height: 18px;
    max-width: 100%;
}
.profile-mentor {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.price {
    font-size: 14px;
}
.status p {
    border-radius: 6px;
    display: block;
    padding: 0 5px;
    background: transparent;
    color: #faa907;
    border: 1px solid #faa907;
    font-size: 12px;
}

/* end course */
@media (min-width: 776px) and (max-width: 992px) {
    .card-parent:nth-child(n + 4) {
        margin-top: 16px;
    }
    .form-check-input {
        background-color: #faa907;
    }
    .form-check-input:checked,
    .form-check-input:active {
        background-color: #faa907;
    }
    .form-check-input:checked + label:after {
        display: none;
    }
}
@media (max-width: 576px) {
    .dropdown-menu.show {
        padding-top: 15px;
    }
    .form-check {
        margin-top: 0px;
    }
    .form-check-input {
        background-color: #faa907;
    }
    .form-check-input:checked,
    .form-check-input:active {
        background-color: #faa907;
    }
    .form-check-input:checked + label:after {
        display: none;
    }
    #course-container {
        height: max-content !important;
    }
    .card-parent:nth-child(n + 4) {
        margin-top: 0;
    }
    .container-card {
        max-width: 100%;
        max-height: max-content !important;
    }
    .produck-title {
        height: 30px;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        line-height: 15px;
        max-width: 100%;
        font-size: 10px;
    }
    .img-card {
        width: 150px;
        height: 100px;
        border-radius: 12px;
    }
    .card-img-profile {
        bottom: 14px;
        right: 13px;
        width: 18px;
        height: 18px;
    }
    .price {
        font-size: 11px;
    }
    .status p {
        font-size: 9px;
    }
}
