/* font navbar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* variabel color */
:root {
    --color-orange: #FAA907;
    --color-grey: #414142;
    --dim-grey: #696969;
    --charcoal-gray: #414142;
    --light-shade: #FDF8F8;
    --shade-gray: #8F8F8F;
    --lavender-mist: #F0EAFF;
    --color-silver: #9D9D9D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

html::-ms-overflow-style {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FFF6F6;
}


main #detail-course-section {
    margin-top: 20px;
    height: max-content;
    padding: 120px 30px 100px 30px;
}

main #detail-course-section .container a {
    font-size: 24px;
    text-decoration: none;
}

[class*=" bi-"]::before {
    background-color: #0774FA;
    border-radius: 50px;
    color: white;
    padding: 8px;
}

main #detail-course-section .container h4 {
    font-weight: 800;
    color: var(--charcoal-gray);
    font-size: 34px;
}



main #detail-course-section .container .subcontent-images .row .col-sm-6 a {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px !important;
    background-color: white;
    transition: 0.5s ease-in-out;
}


main #detail-course-section .container .subcontent-images {
    width: 900px;
    margin: 0 auto;
}

main #detail-course-section .container .subcontent-images .row .col-sm-6 a:hover {
    transform: translateY(-10px);
}

main #detail-course-section .container .subcontent-images .row .col-sm-6 a img {
    width: 40px;
    height: 40px;
}

main #detail-course-section .container .subcontent-images .row .col-sm-6 a .group-title-subtitle p {
    font-size: 16px;
}

main #detail-course-section .container .subcontent-images .row .col-sm-6 a .group-title-subtitle p:first-child {
    color: var(--charcoal-gray);
    font-weight: 700;
}

main #detail-course-section .container .subcontent-images .row .col-sm-6 a .group-title-subtitle p:last-child {
    color: var(--color-silver);
    font-weight: 700;
    font-size: 14px;
}



main #detail-course-section .container .detail-courses {
    width: 900px;
    margin: 0 auto;
}

main #detail-course-section .container .detail-courses .card {
    background-color: white;
    padding: 20px;
    border: none;
}

main #detail-course-section .container .detail-courses .card .card-header,
main #detail-course-section .container .detail-courses .card .card-body {
    background-color: transparent;
    border: none;
}


main #detail-course-section .container .detail-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .detail-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .detail-courses .card .card-body p {
    color: var(--color-silver);
    font-size: 18px;
}


main #detail-course-section .container .description-courses {
    width: 900px;
    margin: 0 auto;
}

main #detail-course-section .container .description-courses .card {
    background-color: white;
    padding: 20px;
    border: none;
}

main #detail-course-section .container .description-courses .card .card-header,
main #detail-course-section .container .description-courses .card .card-body {
    background-color: transparent;
    border: none;
}


main #detail-course-section .container .description-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .description-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .description-courses .card .card-body p {
    color: var(--color-silver);
    font-size: 18px;
}


main #detail-course-section .container .tools-courses {
    width: 900px;
    margin: 0 auto;
}

main #detail-course-section .container .tools-courses .card {
    background-color: white;
    padding: 20px;
    border: none;
}

main #detail-course-section .container .tools-courses .card .card-header,
main #detail-course-section .container .tools-courses .card .card-body {
    background-color: transparent;
    border: none;
}

/* main #detail-course-section .container .tools-courses .card .card-body .tools-group {
    background-color: #FDF8F8;
    padding: 10px 20px;
    border-radius: 10px;
} */


main #detail-course-section .container .tools-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .tools-courses .card .card-header h5 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 22px;
}

main #detail-course-section .container .tools-courses .card .card-body .tools-group p {
    color: var(--charcoal-gray);
    font-size: 18px;
    font-weight: 700;
}


main #detail-course-section .container .testimoni {
    width: 900px;
    margin: 0 auto;
}


main #detail-course-section .container .testimoni h1 {
    color: var(--charcoal-gray);
    font-weight: 800;
    font-size: 30px;
}

main #detail-course-section .container .testimoni .col-12 {
    margin: 0 auto;
}

main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card {
    height: 228px;
}

main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card .card-body .card-head .name .card-title {
    font-size: 18px;
    color: var(--color-grey);
}

main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card .card-body .card-head .name p,
main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card .card-body p.card-text {
    font-size: 16px;
    color: var(--color-grey) !important;
    font-weight: 600;
}


main #detail-course-section .container .testimoni .col-12 .row #additional-content {
    display: none;
}

main #detail-course-section .container .testimoni .col-12 .navtabs-more-testimoni button.btn-primary {
    background-color: var(--color-orange) !important;
    color: white !important;
    outline: none;
    border: none;
    font-size: 18px;
}


@media screen and (max-width: 992px) {

    main #detail-course-section .container .subcontent-images,
    main #detail-course-section .container .detail-courses,
    main #detail-course-section .container .description-courses,
    main #detail-course-section .container .tools-courses,
    main #detail-course-section .container .testimoni {
        width: 100%;
        margin: 0 auto;
    }

    main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card {
        height: 276px;
    }
}

@media screen and (max-width: 768px) {

    main #detail-course-section .container .subcontent-images .row .col-sm-6 a {
        height: 90px;
    }

    main #detail-course-section .container h4 {
        font-size: 32px;
    }

    main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card {
        height: 210px;
    }

}

@media screen and (max-width: 576px) {
    main #detail-course-section .container h4 {
        font-size: clamp(18px, 28px, 28px) !important;
    }

    main #detail-course-section .container .detail-courses .card .card-header h5,
    main #detail-course-section .container .description-courses .card .card-header h5,
    main #detail-course-section .container .tools-courses .card .card-header h5 {
        font-size: 20px;
    }

    main #detail-course-section .container .testimoni h1 {
        font-size: 24px;
    }

    main #detail-course-section .container .detail-courses .card .card-body p,
    main #detail-course-section .container .description-courses .card .card-body p,
    main #detail-course-section .container .tools-courses .card .card-body .tools-group p {
        font-size: 16px;
    }

    main #detail-course-section .container .testimoni .col-12 .row .col-md-6 .card {
        height: 320px;
    }

    main #detail-course-section .container .testimoni .col-12 .navtabs-more-testimoni button.btn-primary {
        font-size: 16px;
    }
}
