/* font navbar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* variabel color */
:root {
    --color-orange: #FAA907;
    --color-grey: #414142;
    --dim-grey: #696969;
    --charcoal-gray: #414142;
    --light-shade: #FDF8F8;
    --shade-gray: #8F8F8F;
    --lavender-mist: #F0EAFF;
    --hero-bg: #F7F4FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

html::-ms-overflow-style {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

/* style section 1 */
#section-hero-img {
    padding: 80px 2.5rem;
    height: 100vh;
}

#section-hero-img .row .col-xl-6:first-child h1 {
    font-size: 34px;
    color: var(--color-grey);
}

#section-hero-img .row .col-xl-6:first-child p {
    color: var(--shade-gray);
}

#section-hero-img .row .col-xl-6:first-child a {
    color: white;
    background-color: var(--color-orange);
    border: none;
}

/* end style section 1 */



/* sesion 2 */
#section-pilih-kelas {
    background-color: var(--color-orange);
    padding: 0 2.5rem;
    padding-bottom: 60px !important;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1,
#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p {
    color: white;
    line-height: 1.3;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas a {
    font-size: 16px;
    background-color: white;
    color: var(--color-orange);
    padding: 10px 24px;
}

#section-pilih-kelas .card {
    width: 25rem;
    border-radius: 14px;
    height: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#section-pilih-kelas .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#section-pilih-kelas .card img {
    object-fit: fill;
    height: 250px;
}

#section-pilih-kelas .title-card h5 {
    font-size: 17px;
    color: var(--color-grey);
}



#section-pilih-kelas .title-card img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

#section-pilih-kelas .truncate-text {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

#section-pilih-kelas .card:hover .truncate-text {
    -webkit-line-clamp: unset;
    max-height: none;
}

#section-pilih-kelas .not-found {
    margin-top: 50px;
    justify-content: center;
}

#section-pilih-kelas .not-found img {
    max-width: 25%;
    height: auto;
}

#section-pilih-kelas .not-found p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #666;
}

#section-pilih-kelas .truncate-text.expanded {
    white-space: normal;
    -webkit-line-clamp: unset;
    max-height: none;
}

#section-pilih-kelas .btn-group-harga .btn-primary {
    background-color: var(--color-orange);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
}

#section-pilih-kelas .harga p:first-child {
    color: var(--color-grey);
}

#section-pilih-kelas .paket {
    color: var(--color-orange);
    display: flex;
    font-size: small;
    font-weight: bolder;
}

#section-pilih-kelas .paket-item {
    border: 1px solid var(--color-orange);
    padding: 1px 5px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}

/* style section-tentang-nemolab */
#section-tentang-nemolab {
    padding: 60px 2.5rem;
}

#service {
    border-radius: 15px;
    background-color: var(--hero-bg);
    display: flex;
    flex-direction: row;
}

#menu-service {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.card-service {
    background-color: white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-service h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-grey);
}

.card-service .btn {
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

#section-tentang-nemolab .container-fluid .row .col-md-6:last-child h1 {
    font-size: 34px;
    color: var(--color-grey);
}

#section-tentang-nemolab .container-fluid .row .col-md-6:last-child p {
    color: var(--shade-gray);
}

#section-tentang-nemolab .container-fluid .row .col-md-6:last-child .link-href-group .btn-primary {
    color: white;
    background-color: var(--color-orange);
    border: none;
}

#section-tentang-nemolab .container-fluid .row .col-md-6:last-child .link-href-group .btn-secondary {
    color: var(--color-grey);
    background-color: var(--lavender-mist);
    border: none;
}

/* end style section-tentang-nemolab */



#section-benefit-kelas {
    padding: 10px 2rem;
}

#section-benefit-kelas h1 {
    color: var(--color-grey);
    font-size: 34px;
}

.check-active-group {
    text-align: left;
    /* Keep text left-aligned for check-active items */
}

.check-active-group .check-active p {
    color: var(--color-grey);
}

.benefit-images {
    gap: 50px;
}

.grid-images {
    display: flex;
    flex-wrap: wrap;
}

.grid-images .grid-img {
    width: 190px;
    margin: 6px;
    max-width: 100%;
    height: auto;
}

/* style section 5 */
#section-testimoni-kelas {
    padding: 80px 2.5rem;
}

#section-testimoni-kelas .container-fluid .testimoni-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#section-testimoni-kelas .container-fluid .testimoni-title h1 {
    color: var(--color-grey);
    text-align: center;
}

#section-testimoni-kelas .container-fluid .testimoni-title p {
    color: var(--shade-gray);
    text-align: center;
}

#section-testimoni-kelas .container-fluid .testimoni-title a.btn-primary {
    color: white;
    background-color: var(--color-orange);
    border-color: orange;
    transition: ease-in-out 0.3s;
}

#section-testimoni-kelas .container-fluid .testimoni-title a.btn-primary:hover {
    color: var(--color-orange);
    background-color: white;
}

#section-testimoni-kelas .container-fluid .row {
    height: 500px;
    overflow: hidden;
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card {
    width: 20rem;
    background-color: var(--light-shade);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name h5 {
    font-size: 16px;
    color: var(--color-grey);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name p {
    font-size: 14px;
    color: var(--shade-gray);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body p {
    font-size: 14px;
    color: var(--color-gray);
}


.scroll-up {
    animation: scroll-down 10s linear infinite;
}

.scroll-down {
    animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

/* end style section 5 */


/* section 6 */
#section-pusat-bantuan {
    padding: 100px 2.5rem;
    background-color: var(--color-orange);
}

#section-pusat-bantuan h1 {
    font-size: 34px;
    color: white;
}

#section-pusat-bantuan p {
    font-size: 18px;
    color: white;
}

#section-pusat-bantuan a.btn-primary {
    color: var(--color-orange);
    background-color: white;
    border: none;
}

/* end section 6 */


.order-center {
    display: flex !important;
    justify-content: center;
}


/* Responsive Design */
@media (max-width: 768px) {

    #section-hero-img {
        padding: 60px 2.5rem;
        height: max-content;
        margin-top: 60px;
    }

    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1,
    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p {
        margin-left: 12px;
    }

    #section-pilih-kelas {
        background-color: var(--color-orange);
        padding: 0rem;
    }

    #section-pilih-kelas .content-kelas a {
        font-size: 16px;
        background-color: white;
        color: var(--color-orange);
        padding: 10px 24px;
    }

    #section-pilih-kelas .filter-head {
        font-size: 17px;
    }

    #section-pilih-kelas .card .card-img-top {
        object-fit: cover;
        height: 80px;
        width: 110px;
        border-radius: 7px;
    }

    #section-pilih-kelas .card-body,
    .card-head {
        padding: 10px;
    }

    #section-pilih-kelas .card-body {
        position: relative;
    }

    #section-pilih-kelas .title-card h5 {
        font-size: 12px;
        margin-bottom: 2px;
    }

    #section-pilih-kelas .title-card img {
        width: 20px;
        height: 20px;
        margin-bottom: 1px;
    }

    #section-pilih-kelas .card .avatar {
        font-size: 11px;
        font-weight: 700;
        color: gray;
    }

    #section-pilih-kelas .btn-group-harga .btn-primary {
        font-size: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    #section-pilih-kelas .harga {
        font-size: 12px;
    }

    #section-pilih-kelas .paket {
        font-size: 9px;
    }
}


@media (max-width: 1024px) {
    #section-benefit-kelas .col-md-6.text-center {
        text-align: center;
    }

    #section-benefit-kelas .check-active-group {
        display: flex;
        flex-direction: column;
    }

    .grid-images .grid-img {
        width: calc(50% - 12px);
        margin: 6px;
    }
}