@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
}

body::-webkit-scrollbar {
    display: none;
}
.playlist::-webkit-scrollbar {
    display: none;
}

/* Navbar */

.nav-link {
    font-weight: normal;
    color: #000;
}
.nav-link:hover {
    color: #faa907;
}

.active {
    color: #faa907 !important;
    font-weight: 600;
}
/* End Navbar */

.playlist {
    overflow-y: scroll;
    width: 100%;
    height: 70%;
}
.play {
    margin: 10px 0;
    border-radius: 20px;
    height: 55px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 14px;
    box-sizing: border-box;
    background-color: #fff47b;
}
.title {
    width: 100%;
}
.judul {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mins {
    width: 30%;
}
.tools img {
    width: 100px;
    height: 100px;
}
.tools p {
    font-size: 16px;
}
.tools,
.col-custom {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.345);
    transition: 0.2s all;
}
.tools:hover,
.col-custom:hover {
    box-shadow: 0px 0px 5px 0.3px #faa907;
}
.button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 13px 0;
    font-weight: 600;
    text-align: center;
    background-color: #faa907;
}
.button:hover {
    background-color: #a56e00;
}
.profit {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin: -5px 0;
}
.btn {
    background-color: #faa907;
}
.btn:hover {
    background-color: #a56e00;
}
/* Ulasan */
.carousel-item p {
    font-size: 14px;
    font-weight: 400;
}
.carousel-item .desc-ulasan {
    height: 70px;
    overflow: hidden;
}
.carousel-indicators .point {
    width: 15px;
    height: 15px;
    background-color: #d9d9d9;
    border-radius: 50%;
    opacity: 1;
}
.carousel-indicators .active.point {
    background-color: #ff7700;
}
.carousel-indicators [data-bs-target] {
    opacity: 1;
}
.carousel-indicators img:hover,
.carousel-indicators img:focus,
.carousel-indicators img:active {
    opacity: 0.5;
    transition: 0.2s ease;
}
@media (min-width: 992px) {
    .col-custom {
        flex: 0 0 auto;
        width: 30%;
        flex-wrap: wrap;
    }
}
/* @media (min-width: 576px) and (max-width: 992px) {
    .carousel-item p {
        font-size: 13px !important;
    }
    .carousel-indicators .prev img {
        left: 10rem !important;
    }
    .carousel-indicators .next img {
        right: 10rem !important;
    }
} */
@media (max-width: 576px) {
    .tools .d-flex {
        display: flex;
        flex-direction: row;
    }

    .tools .col-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .tools img {
        width: 70px;
        height: 70px;
        display: block;
        margin: 0 auto;
    }

    .tools p {
        margin-left: 1rem;
        font-size: 0.9rem;
    }
    .tools button {
        margin-left: 0.7rem;
        /* margin-top: -40px; */
    }
    /* .carousel-indicators .prev img {
        left: 0 !important;
    }
    .carousel-indicators .next img {
        right: 0 !important;
    } */
}
