@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #faa907, #ff7700);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 450px;
  padding: 3.2rem;
  gap: 25px;
}
h3 span {
  font-weight: bold;
  background: linear-gradient(to right, #faa907, #ff7700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form input {
  width: 100%;
  border-radius: 11px;
  padding: 6.5px 0 6.5px 2.6rem;
  border: 2px solid gray;
}
form input::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
}
form input:focus {
  border: 2px solid #faa907;
  outline: none;
  box-shadow: 0px 0px 20px -12px rgba(0, 0, 0, 0.75);
}
.ikon {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 27px;
  height: 27px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(235, 235, 235);
  padding: 5px;
  border-radius: 6px;
}
.eye {
  position: absolute;
  top: 7px;
  right: 15px;
  cursor: pointer;
}
.btn {
  border-radius: 10px;
  background: #faa907;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: #ff7700;
}
