:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-rgb: rgb(250, 169, 7);
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  body {
    font-family: var(--font-base);
  }

  a{
    text-decoration: none;
  }

  #mycourse{
    margin-top: 130px;
  }

  /* CONTENT */
  .tittle{
    color: var(--c-brand);
  }