:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 3px 0px #faa907;
    --transition-card: all 0.5s linear;
}

.payment-card {
    border-radius: 10px;
    padding: 35px;
    width: 500px;
    height: max-content;
    box-shadow: 0px 0px 5px 2px var(--c-brand);
}
.payment-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.payment-card .card-body p {
    margin: 0;
    font-size: 1.3rem;
}
.payment-card .btn-primary {
    background-color: var(--c-brand);
    color: white;
    font-weight: bold;
    border: none;
}
.card-body span {
    font-size: 17px;
}
.form-check {
    padding-left: 0;
    margin-bottom: 0;
}
.price-update {
    color: green;
}
.payment-card .btn-primary:hover {
    background-color: var(--c-brand-dark);
}
.syarat {
    text-decoration: none;
    color: var(--c-brand);
}
.form-check-label {
    font-size: 16px;
    cursor: pointer;
}

.form-cek {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-cek:checked {
    background-color: var(--c-brand);
    color: var(--c-brand);
    border: none;
}

.form-cek:checked::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.285 6.128a1.5 1.5 0 0 0-2.121 0L10 14.293 5.536 9.828a1.5 1.5 0 1 0-2.122 2.122l5 5a1.5 1.5 0 0 0 2.122 0l9-9a1.5 1.5 0 0 0 0-2.122z"/></svg>');
    background-size: cover;
    margin-top: 3px;
    border: none;
}

@media only screen and (max-width: 767.5px) {
    .payment-card {
        width: 330px;
    }
    .card-body span {
        font-size: 14px;
    }
    .form-check-label {
        font-size: 12px;
    }
    .form-cek {
        width: 17px;
        height: 17px;
    }
}
