/* font navbar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* variabel color */
:root {
    --color-orange: #FAA907;
    --color-grey: #414142;
    --dim-grey: #696969;
    --charcoal-gray: #414142;
    --light-shade: #FDF8F8;
    --shade-gray: #8F8F8F;
    --lavender-mist: #F0EAFF;
    --hero-bg: #F7F4FF;
    --color-pink: #FFF6F6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

html::-ms-overflow-style {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--color-pink);
}


/* style section 1 */
#view-course-section {
    margin-top: 50px;
    padding: 80px 2.5rem;
    height: max-content;
}

#view-course-section .container-fluid .row .col-lg-8 {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    height: 600px;
    width: 64%;
}

#view-course-section .container-fluid .row .col-lg-8 iframe {
    border-radius: 20px;
}

#view-course-section .container-fluid .row .col-lg-8 h2 {
    font-weight: 700;
    color: var(--charcoal-gray);
    font-size: 28px;
    width: 90%;
}

#view-course-section .container-fluid .row .col-lg-8 .link-group a.btn-primary {
    background-color: var(--color-orange) !important;
    outline: none;
    border: none;
    font-size: 18px;
}

#view-course-section .container-fluid .row .col-lg-8 .link-group a.btn-secondary {
    background-color: var(--charcoal-gray) !important;
    outline: none;
    border: none;
    font-size: 18px;
}

#view-course-section .container-fluid .row .col-lg-4 .card {
    height: 600px;
}

#view-course-section .container-fluid .row .col-lg-4 .card .card-body .content h5 {
    color: var(--charcoal-gray);
    font-size: 24px;
    font-weight: 700;
}

#view-course-section .container-fluid .row .col-lg-4 .card .card-body .content .link-source .link {
    background-color: var(--color-pink);
    padding: 10px 20px;
    border-radius: 10px;
}

#view-course-section .container-fluid .row .col-lg-4 .card .card-body .content .link-source a {
    text-decoration: none;
    color: var(--shade-gray);
    font-size: 18px;
}

.text-wrap {
    flex-grow: 1;
    white-space: normal;
    /* Ensures the text will wrap normally */
    word-wrap: break-word;
    /* Break long words if necessary */
    overflow-wrap: break-word;
    /* Breaks text to avoid overflow */
    max-width: calc(100% - 40px);
    /* Prevents overflow and leaves space for the image */
}


.link img {
    margin-left: 10px;
    width: 30px;
    /* Adjust image size if needed */
}

.active-course {
    background-color: var(--charcoal-gray) !important;
}

.active-course>a {
    color: white !important;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    #view-course-section .container-fluid .row .col-lg-8 {
        width: 100%;
    }

    #view-course-section .container-fluid .row .col-lg-4 {
        padding: 0 !important;
        width: 100%;
    }

    #view-course-section .container-fluid .row .col-lg-4 .card {
        width: 100%;
    }

    #view-course-section .container-fluid .row .col-lg-8 iframe {
        height: 380px !important;
    }
}

@media screen and (max-width: 576px) {

    #view-course-section .container-fluid .row .col-lg-8 iframe {
        border-radius: 20px 20px 0px 0px;
    }

    #view-course-section .container-fluid .row .col-lg-8 {
        width: 100%;
        height: max-content;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
    }

    #view-course-section .container-fluid .row .col-lg-4 {
        padding: 0 !important;
        width: 100%;
        margin-top: 20px !important;
    }

    #view-course-section .container-fluid .row .col-lg-8 iframe {
        height: 200px !important;
    }

    #view-course-section .container-fluid .row .col-lg-4 .card {
        width: 100%;
    }

    #view-course-section .container-fluid .row .col-lg-8 h2 {
        font-size: 20px;
        margin-top: 4px !important;
    }

    #view-course-section .container-fluid .row .col-lg-4 .card .card-body .content h5 {
        font-size: 20px;
    }

    #view-course-section .container-fluid .row .col-lg-8 .link-group a.btn-primary {
        font-size: 16px;
    }

    #view-course-section .container-fluid .row .col-lg-4 .card .card-body .content .link-source a {
        font-size: 16px;
    }

    .link img {
        width: 24px;
        height: 24px;
    }
}
