@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #faa907, #ff7700);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 450px;
    padding: 3rem;
    gap: 25px;
}
form input {
    width: 100%;
    border-radius: 11px;
    padding: 4.8px 0 4.8px 2.6rem;
    border: 2px solid gray;
}
form input::placeholder {
    font-weight: 400;
    font-size: 0.9rem;
}
form input:focus,
form label:active {
    border: 2px solid #faa907;
    outline: none;
}
.ikon {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 6px;
}
.eye {
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
}
.file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.file-label {
    width: 100%;
    border-radius: 11px;
    text-align: left;
    padding: 4.8px 0 4.8px 2.6rem;
    border: 2px solid gray;
    box-sizing: border-box;
    cursor: pointer;
}
.file-label::after {
    font-size: 0.9rem;
    content: attr(data-placeholder);
}
.btn {
    border-radius: 10px;
    background: #faa907;
}
.btn:hover,
.btn:active,
.btn:focus {
    background: #ff7700;
}
