@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --font-base: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif !important;
}

/* .btn-primary {
    background-color: var(--c-brand);
    border: none;
}

.btn-primary:hover {
    background-color: var(--c-brand-dark);
} */

main {
    padding: 60px 0;
}

a {
    text-decoration: none;
}

/* TABLE DATA */
.judul-table {
    color: var(--c-brand);
    font-size: 1.7rem;
    font-weight: 600;
}

.table-responsive {
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px gray;
    height: auto;
    overflow-y: scroll;
}

.table-responsive::-webkit-scrollbar {
    display: none;
}

.table th,
.table td {
    vertical-align: middle;
}

.edit-data {
    text-decoration: none;
    color: white;
    background-color: var(--c-brand);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.edit-data:hover {
    background-color: var(--c-brand-dark);
}

.pagination {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.2s all;
    font-weight: 400;
    cursor: pointer;
    color: #383131;
}

.pagination:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #faa907;
}

.table-img {
    border-radius: 10px;
}

.tambah-data {
    /* width: 100px; */
    background-color: var(--c-brand);
    border-radius: 10px;
    color: white;
    border: none;
    transition: all 0.3s linear;
}

.tambah-data:hover {
    background-color: var(--c-brand-dark);
    color: white;
}

thead,
tbody,
th,
td,
tr {
    background: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mengatur jarak pada tampilan DataTables */
.dataTables_wrapper .dataTables_filter {
    float: right;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

@media (max-width: 576px) {

    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_length {
        text-align: center;
        float: none;
        width: 100%;
    }
}

.table-dark {
    --bs-table-bg: #faa907 !important;
}

.page-link {
    background-color: #faa907 !important;
    border: 2px solid #faa907 !important;
    color: white !important;
}

label {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.dt-search {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

#tablesContent_wrapper {
    margin-top: 30px;
}

table {
    border: 2px solid #faa907 !important;
    /* Border luar tabel */
    border-collapse: collapse;
    /* Agar border tampil rapi */
}

th,
td {
    border: 1px solid #faa907 !important;
    /* Border di dalam sel tabel */
}
