@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #ff7b00;
    --hover-color: rgb(218, 243, 242);
    --text-color: #fff;
    --card-bg-color: #fff;
    --button-blue: #007bff;
    --button-red: #ff0000;
    --premium-color: rgb(114, 114, 114);
}

body {
    background-color: #ffecec;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.section-main {
    margin-top: 120px;
} 
.filter-transaction {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: thin;
    scrollbar-color: rgba(165, 165, 165, 0.678); 
}

.filter-transaction .nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
    white-space: nowrap; 
}

.filter-transaction .nav-tabs li {
    margin-right: 15px;
    flex-shrink: 0;
}

.filter-transaction .nav-tabs a {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: .5rem;
    padding: 8px 25px;
    border-radius: 20px;
    color: var(--primary-color);
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px;
}

.filter-transaction .nav-tabs a:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.filter-transaction .nav-tabs a.active {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.card {
    background-color: var(--card-bg-color);
    border: none;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 10px
}

.card-body img {
    background-color: #ccc;
    border-radius: 5px;
    margin-right: 15px;
}

.details {
    flex-grow: 1;
}

.details p {
    margin: 0;
    max-width: 600px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* max-height: 3em; */
    text-overflow: ellipsis;
}

.Premium {
    color: var(--premium-color);
}

.info {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 8px;
}

.price {
    color: var(--button-blue);
}

.btn-custom {
    border-radius: 10px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--button-blue);
    color: var(--text-color);
}

.btn-danger {
    background-color: var(--button-red);
    color: var(--text-color);
}

.btn-outline-red {
    border-color: var(--button-red);
    color: var(--button-red);
}

.btn-outline-red:hover {
    background-color: var(--button-red);
    color: var(--text-color);
}


.btn-more button.btn-primary
{
background-color: white;
border: 2px solid white;
color: #414142;
font-family: 'Nunito', sans-serif;
font-weight: 600;
transition: ease-in-out 0.3s;
}


.btn-more button.btn-primary:hover {
    background-color: transparent !important;
    border: 2px solid #414142;
}

.btn-more button.btn-primary:active {
    color: #414142 !important;
    transform: scale(0.9);
}

.not-found {
    margin-top: 50px;
    justify-content: center;
  }
  .not-found p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #666;
  }

@media (max-width: 768px){
    .filter-transaction .nav-tabs a {
        font-size: 8px;
        padding: 5px 15px;
    }
    .card-body img {
        width: 60px;
        height: 40px;
    }
    .not-found img {
        max-width: 100% !important;
      }
      .details p {
        margin: 0;
        font-size: 8px !important;
        max-width: 270px;
    }
    .btn-primary {
        padding: 5px 10px;
        font-size: 8px !important;
        background-color: var(--button-blue);
        color: var(--text-color);
    }
    
    .btn-danger {
        padding: 5px 10px;
        font-size: 8px !important;
        background-color: var(--button-red);
        color: var(--text-color);
    }
    
    .btn-outline-red {
        padding: 5px 10px;
        font-size: 8px !important;
        border-color: var(--button-red);
        color: var(--button-red);
    }
    
    .btn-outline-red:hover {
        background-color: var(--button-red);
        color: var(--text-color);
    }
}