:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 3px 0px #faa907;
    --transition-card: all 0.5s linear;
}

body {
    font-family: var(--font-base);
}

body::-webkit-scrollbar {
    display: none;
}

/* navbar */
.navbar-brand img {
    width: auto;
    height: 40px;
}
.navbar-nav {
    gap: 2rem;
}
.nav-link {
    font-weight: normal;
    color: var(--c-dark);
}
.btn-signup {
    background-color: var(--c-brand);
    font-weight: 600;
    border-radius: 10px;
    transition: 0.2s all;
}
.btn-signup:hover {
    background-color: #a56e00;
}
.active {
    color: var(--c-brand) !important;
    font-weight: bold;
}
.btn-login {
    font-weight: 600;
    color: var(--c-dark);
    width: 87px;
    border-radius: 10px;
}

.btn-login:hover {
    color: var(--c-brand);
    transition: 0.2s all;
    border: 1px solid var(--c-brand);
}
.r-nav {
    display: flex;
}
.btn-search {
    background-color: var(--c-brand);
    color: white;
    border-radius: 10px;
    border: none;
}
.btn-search:active {
    background-color: var(--c-brand-dark);
}
.name {
    width: 110px;
    max-height: 53px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-p {
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.img-s {
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
}

.profile-user {
    display: none;
    position: absolute;
    top: 85px;
    right: 40px;
}
.profile-user a img {
    width: 35px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
}
.profile-user a:hover {
    transition: 0.3s all;
    background-color: rgb(179, 179, 179) !important;
}
.profile-user.menu {
    display: block;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}
