/* font navbar */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* variabel color */
:root {
    --color-orange: #FAA907;
    --color-grey: #414142;
    --dim-grey: #696969;
    --charcoal-gray: #414142;
    --light-shade: #FDF8F8;
    --shade-gray: #8F8F8F;
    --lavender:#FFF6F6;
    --lavender-mist: #F0EAFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}

/* sidebar */
.sidebar {
    background-color: var(--color-orange);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 83vh;
    position: relative; 
    transition: top 0.4s ease-in-out;
    z-index: 20;
    overflow-y: auto;
}

.filter-paket, .filter-kelas {
    margin-bottom: 20px;
}

hr {
    margin: 0px !important;
    border-radius: 30px;
    border: 2px solid white !important;
    margin-bottom: 15px !important;
    opacity: 1 !important;
}
h5{
    color: white;
}

.filter-paket img, .filter-kelas img {
    width: 25px;
    height: auto;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    font-weight: 400;
    font-size: 14px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #fff;
}

input[type="radio"]:checked + label {
    font-weight: 900;
}

input[type="radio"]:checked + label span {
    background-color: #ff8800;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input[type="radio"] + label span, 
input[type="radio"]:checked + label span {
    transition: background-color 0.24s linear;
}
/* Scrollbar sidebar */
/* .sidebar::-webkit-scrollbar {
    width: 6px;
    margin-right: 100px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent; 
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(177, 176, 176) ;
    border-radius: 15px;
} */

/* General Styling */
.mobile-filter {
    background-color: var(--lavender);
    z-index: 50;
    top: 72px;
}

/* Search Input and Button Styling */
.search {
    position: relative;
    display: flex;
    width: 100%;
}

.searchTerm {
    width: 100%;
    padding-right: 45px; 
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 14px;
}

.searchButton {
    position: absolute;
    top: 45%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.searchButton i {
    pointer-events: none;
}

/* Sidebar Styling */
@media (max-width: 1024px) {
    .sidebar {
        position: fixed;
        top: 125px;
        left: 0;
        transform: translateX(-100%);
        height: 80vh;
        width: 40%;
        z-index: 10000;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.show-sidebar {
        transform: translateX(0);
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 80%;
    }
}
