:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-rgb: rgb(250, 169, 7);
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-f-card: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    font-family: var(--font-base);
}

a {
    text-decoration: none;
}

#mycourse {
    margin-top: 130px;
}

/* CONTENT */
.tittle {
    color: var(--c-brand);
}

.row-course {
    overflow-y: scroll;
}

.row-course::-webkit-scrollbar {
    display: none;
}

.col-course {
    height: max-content;
}

.card-course {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.345);
    transition: box-shadow 0.5s linear;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-course:hover {
    box-shadow: 0px 0px 5px 0px var(--c-brand);
}

.img-card img {
    width: 100%;
    height: 180px;
    padding: 7px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    flex-shrink: 0;
}

.category {
    padding: 5px 7px;
    background-color: #e4e4e4;
    max-width: max-content;
    border-radius: 5px;
    flex-shrink: 0;
}

.category p {
    font-size: 12px;
    font-weight: 500;
}

.tittle-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    flex-shrink: 0;
    height: 20px;
    max-width: 100%;
    font-size: 14px;
}

.profile-card {
    flex-shrink: 0;
}

.profile-card a {
    color: black;
}

.status {
    width: 100%;
    margin-top: auto;
    /* Pushes the status div to the bottom */
}

.txt-start {
    color: rgba(0, 0, 0, 0.5);
    height: max-content;
    margin: 0;
}

a {
    font-size: 14px;
}
@media only screen and (max-width: 992px) {
    .profile-btn.btn {
        background-color: #faa907;
    }
    .profile-btn.btn:active {
        background-color: #d89309;
    }
    .sidebar-mobile {
        display: none !important;
    }
    .sidebar-mobile.active {
        display: block !important;
        z-index: 999;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        max-height: 60vh;
        border-radius: 50px 50px 0 0;
        background: #fff;
    }
    .nav a {
        color: #6c757d !important;
    }
    .nav-item img {
        filter: grayscale(100%) brightness(70%);
    }
    .nav-item.active,
    .nav-item.active img {
        filter: none;
        color: #faa907 !important;
        font-weight: 600;
        padding: 0;
        gap: 0;
    }

}
@media (max-width: 576px) {
    .deskripsi {
        max-width: 100%;
    }
    .tittle-card {
        height: 36px;
    }
    .tittle-card p {
        height: 30px;
        font-size: 11px;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .profile-card img {
        width: 45px !important;
        height: 45px !important;
    }
    .category {
        width: 100%;
    }
    .category p {
        font-size: 9px;
    }
    .img-card img {
        width: 150px;
        height: 100px;
        padding: 7px;
        object-fit: cover;
        border-radius: 12px;
        flex-shrink: 0;
    }
    .status {
        margin-top: 0.7rem !important;
    }
    .status p {
        font-size: 9.5px !important;
    }
    .status img {
        width: 14px;
        height: 14px;
    }
}
