:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --font-base: "Poppins", sans-serif;
}

body {
    font-family: var(--font-base);
}

.btn-primary {
    background-color: var(--c-brand);
    border: none;
}

.btn-primary:hover {
    background-color: var(--c-brand-dark);
}

/* TABLE DATA */
.table th,
.table td {
    vertical-align: middle;
}

.pagination {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #383131;
}

.pagination:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #faa907;
}

.tambah-data {
    width: 100px;
    background-color: var(--c-brand);
    border-radius: 10px;
    color: white;
    border: none;
    transition: all 0.3s linear;
}

.tambah-data:hover {
    background-color: var(--c-brand-dark);
    color: white;
}

thead,
tbody,
th,
td,
tr {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* END TABLE DATA */