/* FOOTER */
.footer {
    margin-top: 50px;
    background-color: white;
    padding-bottom: 10px;
}
.footer .logo img {
    max-height: 40px;
}
.footer .social-icons {
    text-align: right;
}
.footer .social-icons a {
    margin: 0 3px;
}
.footer .social-icons img {
    height: 35px;
}

@media (max-width: 576px) {
    .company-name p {
        font-size: 15px;
    }

    .footer .social-icons img {
        width: 32px;
        height: 32px;
    }
}
@media (max-width: 992px) {
    .company-name p {
        font-size: 14px;
    }
    .footer .social-icons img {
        width: 30px;
        height: 30px;
    }
}
