.profile-user {
    display: none;
    position: absolute;
    top: 85px;
    right: 40px;
}
.profile-user a img {
    width: 35px;
    height: 35px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
}
.profile-user a:hover {
    transition: 0.3s all;
    background-color: rgb(179, 179, 179) !important;
}
.profile-user.menu {
    display: block;
}
