/* Sidebar */
.col-3 {
    height: max-content;
}

#mentor .col-3 {
    height: 530px;
}

.tittle-list-sidebar {
    font-weight: bold;
}

.list-sidebar {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.active {
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #faa907;
    padding: 8px 10px;
    border-radius: 9px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}

a{
    text-decoration: none !important;
}

.scroll-sidebar{
    overflow-y: scroll;
    height: 600px;
}

.scroll-sidebar::-webkit-scrollbar{
    display: none;
}

/* DROPDOWN */
.form-check-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--c-dark);
}
.form-check {
    margin-top: 10px;
    margin-left: 15px;
}
.border-bottom {
    width: 100%;
}
.dropdown {
    display: none;
}

/* End Sidebar */
