/* Sidebar */
.col-3 {
    height: max-content;
}

#mentor .col-3 {
    height: 530px;
}

.tittle-list-sidebar {
    font-weight: bold;
}

*::-webkit-scrollbar {
    display: none;
}

.list-sidebar {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.active {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #faa907;
    padding: 8px 10px;
    border-radius: 9px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-weight: 600;
}

a {
    text-decoration: none !important;
}

.scroll-sidebar {
    overflow-y: scroll;
    height: 600px;
}

.scroll-sidebar::-webkit-scrollbar {
    display: none;
}

/* DROPDOWN */
.form-check-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--c-dark);
}
.form-check {
    margin-top: 10px;
    margin-left: 15px;
}
.border-bottom {
    width: 100%;
}
.dropdown {
    display: none;
}

.sidebar {
    height: calc(100vh - 75px); /* Mengurangi tinggi navbar */
    width: 0;
    position: fixed;
    top: 75px; /* Geser ke bawah di bawah navbar */
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparan putih */
    backdrop-filter: blur(10px); /* Efek blur */
    overflow-y: auto; /* Mengizinkan scroll vertikal */
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 15px; /* Kurangi padding atas */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}


.toggle-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

.toggle-btn img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

#closeIcon {
    display: none;
}

.sidebar-opened #openIcon {
    display: none;
}

.sidebar-opened #closeIcon {
    display: block;
}

.hidden {
    display: none;
}


/* Icon styles */
.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon.hidden {
    transform: rotate(90deg);
    opacity: 0;
}

.icon.open {
    transform: rotate(0deg);
    opacity: 1;
}

.icon.close {
    transform: rotate(-90deg);
    opacity: 1;
}

/* Show/hide icons */
#toggleBtn .hidden {
    display: none;
}


@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* End Sidebar */
