@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --card-bg: #fff;
    --color-silver: #8F8F8F;
    --bg-color: #FFF6F6;
    --dark-grey: #414142;
    --blue: #0774FA;
    --color-orange: #faa907;
}

body {
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #000;
}

.setting-section,
.profile-saya-section {
    height: 110vh;
}


.setting-section .setting-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.setting-section .setting-item .icon {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-section .setting-item .icon img {
    width: 30px;
    /* memastikan ukuran icon sama */
    height: 30px;
    object-fit: contain;
}

.setting-section .setting-item .content {
    margin-left: 15px;
}

.setting-section .setting-item h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--dark-grey) !important;
}

.setting-section .setting-item p {
    font-size: 0.875rem;
    color: var(--color-silver);
}

.setting-section .setting-item .toggle {
    margin-left: auto;
    font-size: 1.2rem;
}

.setting-section .setting-item .toggle i {
    color: #000000;
    font-size: 25px;
}

.title-pengaturan {
    font-weight: 700;
    color: var(--dark-grey);
}

/* Untuk memastikan 2 kolom dalam 1 baris, tambahkan ini */
@media (min-width: 768px) {
    .setting-section .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media screen and (max-width: 576px) {
    .setting-section {
        padding: 50px 0 !important;
    }

    .setting-section .setting-item h3 {
        font-size: 18px !important;
    }
}


.btn-costum {
    background-color: var(--color-orange) !important;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: white;
}

button.btn-primary {
    background-color: var(--color-orange) !important;
    outline: none;
    border: none;
}
