:root {
    --c-dark: #383131;
    --c-brand: #faa907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 3px 0px #faa907;
    --transition-card: all 0.5s linear;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    min-height: 100vh;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}

/* SEARCH */
.box{
    width: 600px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #8F8E8E;
}

.box  img {
    width: 35px;
}

.box input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

/* DISKUSI */
.card-diskusi{
    height: max-content;
    width: 750px;
    border-radius: 30px;
}
.card-body{
    border: none;
}
.input-comment{
    width: 600px;
}
.form-floating{
    width: 100%;
}
.form-control{
    border: 2px solid #8F8E8E;
    border-radius: 15px;
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #8F8E8E;
}
.form-control::-webkit-scrollbar{
    display: none;
}
.cari-btn{
    background-color: transparent;
    text-decoration: none;
    border: none;
}
.btn-send{
    background-color: transparent;
    text-decoration: none;
    border: none;
}
.btn-send-reply{
    background-color: transparent;
    border: 2px solid #8F8E8E;
    border-radius: 15px;
}
.btn-kirim {
    text-decoration: none;
    background-color: var(--c-brand);
    font-size: 16px;
    padding: 9px 25px;
}

.btn-kirim:hover {
    transition: 0.2s all;
    background-color: #fa9d07;
}
.badge.bg-warning {
    background-color: #fd7e14;
    color: #212529;
}
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-link {
    font-size: 18px;
}

.pagination .current-page {
    background-color: transparent; 
    color: #333; 
    font-size: 30px;
    border: none;
    border-radius: 5px; 
    font-weight: bold; 
    pointer-events: none; 
}

.page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #6c757d;
}

.page-link {
    background-color: #FFA500;
    color: #fff;
}
.page-link:hover {
    background-color: #e07b39; 
    color: #fff;
}

@media screen and (max-width: 992px) {
    .card-diskusi{
        width: 100%;
    }
    .box input{
        width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .box{
        width: 100%;
    }
    .input-comment{
        width: 100%;
    }
   .card-diskusi{
    width: 100%;
   }
   .box input{
    width: 420px;
}

}
@media screen and (max-width: 534px) {
   .box input{
    width: 210px;
    }      

}

