/* font navbar */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');

/* variabel color */
:root {
    --color-orange: #FAA907;
    --color-grey: #414142;
    --dim-grey: #696969;
    --charcoal-gray: #414142;
    --light-shade: #FDF8F8;
    --shade-gray: #8F8F8F;
    --lavender-mist: #F0EAFF;
    --color-silver: #9D9D9D;
    --color-blue:#0774FA;
    --color-black: #212121;
    --color-gray: #414142;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif !important;
}

html {
    scroll-behavior: smooth;
}

html::-ms-overflow-style {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}


body {
    background-color: #F5F5F5;
}

p {
    color: var(--shade-gray);
}

.row {
    display: flex; /* Enable flexbox on the row */
}

.col-md-8, .col-md-4 {
    display: flex; /* Enable flexbox on the columns */
    flex-direction: column; /* Stack children vertically */
}

.card {
    border: none;
    border-radius: 15px; /* Sudut melingkar */
    padding: 15px; /* Padding dalam card */
    background-color: #ffffff; /* Warna latar belakang */
    flex: 1; /* Allow cards to grow and fill the available space */
    display: flex; /* Enable flexbox on the card */
    flex-direction: column; /* Stack card content vertically */
}

.card-body h5 {
    margin-bottom: 15px; /* Margin bawah untuk judul */
}

.card-tittle .check-active-group .check-active img{
    width: 25px;
    height: 25px;
}

.card-tittle h5{
    color: var(--color-gray);
}

.card-tittle .price{
    color: var(--color-blue);
    font-weight: 700;
}

.card-tittle .btn-primary{
    font-size: 18px;
    font-weight: 700;
}

.card-preview{
    height: 440px;
}

.card-preview img {
    flex: 1; /* Allow cards to grow and fill the available space */
    display: flex; /* Enable flexbox on the card */
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
}

.card-detail ul{
    text-decoration: none;
    list-style-type: none;
    color: var(--shade-gray);
}

.container-tools {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of cards if needed */
}

.card-tool {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align items */
    text-align: center; /* Center text */
    width: auto; /* Allow width to adjust based on content */
    max-width: 150px; /* Optional: set a max width for cards */
}


.tools {
    white-space: normal; /* Allows text to wrap */
    overflow: hidden;    /* Hides any overflow */
    text-overflow: ellipsis; /* Optional: adds ellipsis for overflowed text */
    border-radius: 10px;
    width: 130px;
    flex-direction: column;
}

.tool-image {
    max-width: 50px;
    max-height: 50px;
}

.tool-text {
    margin-top: 0.5rem; /* Space between image and text */
    white-space: normal; /* Allow text to wrap */
}


/* Testimoni */
#section-testimoni-kelas {
    overflow: hidden; /* Hide overflow to keep the layout clean */
    position: relative; /* Positioning context for absolute children */
    width: 100%;
}

#section-testimoni-kelas .container-fluid .testimoni-title h1 {
    font-size: 40px;
}

#section-testimoni-kelas .container-fluid .testimoni-title p {
    font-size: 20px;
}

#section-testimoni-kelas .container-fluid .row {
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#section-testimoni-kelas .container-fluid .card {
    width: max-width;
    border: 1px solid #E0E0E0;
    border-radius: 13px;
    background-color: var(--light-shade);
}

#section-testimoni-kelas .container-fluid .card .card-body .icon-testi {
    width: 30px;
    height: 30px;
    background-color: var(--color-blue);
}

#section-testimoni-kelas .container-fluid .card .card-body .icon-testi img {
    width: 10px;
    height: 10px;
}

#section-testimoni-kelas .container-fluid .row .col-md-2 .card .card-body .name h5 {
    font-size: 14px;
    color: var(--color-black);
}

#section-testimoni-kelas .container-fluid .row .col-md-2 .card .card-body .name p {
    font-size: 12px;
}

#section-testimoni-kelas .container-fluid .row .col-md-2 .card .card-body p {
    font-size: 14px;
    color: var(--color-black);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}


.carousel-track .carousel-run {
    display: flex;
    animation: scroll 10s linear infinite;
}