@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
}

*::-webkit-scrollbar {
    display: none;
}

/* Navbar */
.navbar-collapse {
    max-height: 85vh;
    overflow-y: auto;
}
.nav-link {
    font-weight: 500;
    color: #000;
}
.nav-link:hover,
.nav-link:focus {
    color: #faa907 !important;
}
.active {
    color: #faa907 !important;
    font-weight: 600;
}
.dropdown-item.on {
    color: #faa907;
    font-weight: 600;
}
.dropdown-item {
    margin-top: 6px;
}
.dropdown-item:hover {
    color: #faa907;
    background-color: transparent;
}
.profile-user {
    display: none;
    position: absolute;
    top: 85px;
    right: 40px;
}
.profile-user a img {
    width: 35px;
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
}
.profile-user a:hover {
    transition: 0.3s all;
    background-color: rgb(179, 179, 179) !important;
}
.profile-user.menu {
    display: block;
}
/* End Navbar */
