:root {
    --c-dark: #383131;
    --c-brand: #FAA907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 5px 0px #FAA907;
    --transition-card: all 0.5s linear;
}

body{
    color: var(--c-dark);
    font-family: var(--font-base);
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #faa907, #ff7700);
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.351);
}

h2 {
    color: var(--c-brand);
    text-align: center;
    font-weight: bold;
}
#preview {
    border-radius: 30px;
}

input,
textarea,
select {
    position: relative;
    width: 100%;
    padding: 0 20px;
    line-height: 50px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
    transition: 0.1s ease;
    z-index: 1;
    color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.labelline,
.labelline-textarea {
    position: absolute;
    color: rgb(0, 0, 0);
    padding: 0 10px;
    margin: 0 15px;
    background-color: white;
    transition: 0.2s ease;
    pointer-events: none;
    line-height: 50px;
    top: 0;
}

.textarea,
.entryarea {
    position: relative;
    margin-bottom: 1rem;
}

textarea::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.btn-kirim {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 50px;
    transition: var(--transition);
}
.btn-batal{
    background-color: gray;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 50px;
    transition: var(--transition);
}

.btn-kirim:hover {
    background-color: var(--c-brand-dark);
    border-color: var(--c-brand-dark);
    color: white;
}
.btn-batal:hover {
    background-color: var(--c-brand-dark);
    border-color: var(--c-brand-dark);
    color: white;
}

.entryarea select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    padding: 0 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    line-height: 50px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.entryarea::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 6px solid transparent;
    pointer-events: none;
}

input:focus,
input:not(:placeholder-shown),
textarea:focus,
textarea:not(:placeholder-shown),
select:focus {
    border: 2px solid rgb(0, 0, 0);
}

input:focus + .labelline,
input:not(:placeholder-shown) + .labelline,
textarea:focus + .labelline-textarea,
textarea:not(:placeholder-shown) + .labelline-textarea,
select:focus + .labelline {
    color: rgb(0, 0, 0);
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    transform: translate(-10px, -15px) scale(0.88);
    z-index: 1;
}