:root {
    --c-dark: #383131;
    --c-brand: #FAA907;
    --c-brand-dark: #a56e00;
    --c-brand-rgb: 0, 163, 255;
    --font-base: "Poppins", sans-serif;
    --transition: all 0.5s ease;
    --box-shadow-card: 0px 0px 1px 0px black;
    --box-shadow-card-hover: 0px 0px 3px 0px #FAA907;
    --transition-card: all 0.5s linear;
  }
  
  body {
    font-family: var(--font-base);
    line-height: 1.7;
    min-height: 100vh;
    overflow-y: auto;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  .footer{
    margin-top: 50px;
  }
  .card-course{
    border: none;
  height: 350px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.345);
  padding: 0;
  transition: box-shadow 0.5s linear;
  }
  .card-course:hover{
    box-shadow: 0px 0px 5px 0px var(--c-brand);

  }
  .card-category{
    color: white;
  }
  .img-card{
    width: 100%;
  padding: 7px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 180px;
    }
    .scroll{
    overflow-y: auto;
  height: 740px !important;
    }
  .btn-alert{
    background-color: var(--c-brand);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: var(--transition);
    cursor: pointer;
    max-width: 150px;
  }
  .disini{
    border:1px solid var(--c-dark);
    margin-top: 20px;
    border-radius: 100px;
  }
  .kurung{
    width: 70%;
  }
  .profile-mentor{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
  }
  .alert{
    width: 95%;
    margin-left: 30px;
    height: auto;
    box-shadow: inset 
  }
  .produck-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name{
    width: 110px;
    max-height: 53px;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .alert-notify{
    width: 100%;
  }

  .img-a{
    width: 15%;
  }

  .img-p{
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40PX;
    height: 40px;
  }
  .profile-mentor{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text{
    height:auto;
  }
  .text-a{
    margin-left: 15px;
  }

  .card-img-profile{
    width: 100%;
  }
  .dropdown{
    display: none;
  }
  .bi{
    color: var(--c-dark);
    transition: var(--transition);
    cursor: pointer;
    border-radius: 50%;
    
  }
  .bi:hover{
    color: var(--c-brand);
  }
  .bi:active{
    color: var(--c-brand);
  }

  .status{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: start;
  }
  .text-decoratiom-none{
    text-decoration: none !important;
    margin: 0;
  }
 .left{
  height: 15px;
  padding-left: 0px;
  margin-top: 15px;
  width: 80%;
  margin-bottom: 10px;
 }
 .left p{
  margin-left: 0px;
  font-size: 12px;
  height: 100%;
  width: 29%;
  font-weight: normal;
 }
 .right{
  height: 15px;
  padding-left: 0px;
  margin-top: 15px;
  width: 10%;
  margin-bottom: 10px;
 }
 .right p{
  margin-left: 5px;
  font-size: 12px;
  height: 100%;
  width: 100%;
  font-weight: normal;
 }
 .border-bottom{
  width: 100%;
 }
 .media img{
  height:30px;
 }

 @media only screen and (max-width: 1400px) {
  .card-course{
    width: 100%;
    height: 380px;
  }
  
  .img-a{
    width: 20%;
  }

  .text-a{
    margin-left: 6px;
  }
  .status p{
    font-size: 12px;
    white-space: nowrap;
  }
  .dropdown{
    display: none;
  }
}
 @media only screen and (max-width: 1200px) {
  .card-course{
    width: 270px;
    height: 350px;
  }
  
  .img-a{
    width: 15%;
  }

  .text-a{
    margin-left: 6px;
  }
  .status p{
    font-size: 12px;
    white-space: nowrap;
  }
  .dropdown{
    display: none;
  }
  .footer img{
    height: 40px;
  }
}
@media only screen and (min-width: 991.5px){
  .login-tab{
    display: none;
  }
  .login{
    display: flex;
  }
}
@media only screen and (max-width: 991.5px) {
  .img-a{
    width: 9%;
  }
  .login{
    display: none;
  }
  .login-tab{
    display: flex;
  }

  .btn-signup{
    margin-left: 10px;
  }
  .img-s{
    width:100px;
    border-radius: 100px;
  }


  .profile-card{
    margin-top: 0px !important;
  }
  .footer img{
    height: 30px;
  }
  .scroll{
    margin-top: 20px !important;
    height: 700px;
  }
  .footer{
    margin-top: 90px !important;
  }
  .card-course{
    height: 345px;

  }
  .first-card{
    margin-bottom: 20px;
  }
  .r-nav{
    display: block;
  }
}

@media only screen and (max-width: 767.5px) {
  .card-course{
    width: 300px;
    margin: auto;
  }
  .img-m{
    scale: 0.9;
  }
  .rspv-margin{
    margin-top: 20px !important;
  }

  .card-category{
    height: 250px;
    width: 95%;
    margin: 0 auto;
  }


  .first-card{
    margin-top: 16px !important;
  }

  .scroll{
    margin-top: 20px !important;
    height: auto;
    margin-bottom: 30px;
  }
  
  .col-sm-12{
    padding: 0px !important;
  }
  .text-a{
    margin-top: 4px;
    margin-left: 10px;
  }

  .status{
    margin-top: 20px;
  }

  .col-lg-3{
    display: none;
  }


  .scroll{
    height: max-content;
    width: 85%;
  }

  .dropdown{
    display: none;
  }
  
  .profile-card{
    margin-top: 40px !important;
  }
  .dropdown{
    display: flex;
  }
  .footer{
    width: 100%;
    margin-top: 0px;
  }
  .media{
    margin-top: 20px;
  }
  .card-course{
    height: 390px;
  }
  .alert{
    width: 80%;
  }
}
@media only screen and (max-width: 400px){
  .card-course{
    width: 255px;
  }
}
@media only screen and (max-width: 320px){ 
  .logo{
    display: none;
  }

  .profile-card{
    margin-top: 0px !important;
  }

  .status{
    margin-top: 13px;
    margin-bottom: 10px;
  }


  .m-mobile{
    margin-top: 10px !important;
  } 
  .dropdown{
    display: flex;
  }
  .card-course{
    height: 380px;
    width: 220px;
  }
}